<!DOCTYPE html>
<html lang="en">
<%- include('partial/head', {title: "Trang cá nhân"}) -%>

    <body>
        <!-- Pre Loader -->
        <div id="preloader-area">
            <div class="pulse"></div>
        </div>
        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
        <!-- END SCROLL TOP BUTTON -->
        <%- include('partial/header', {active:""}) -%>

            <!-- Start Proerty header  -->
            <section id="property-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="property-header-inner">
                                <h2>Trang cá nhân</h2>
                                <ol class="breadcrumb">
                                    <li><a href="/">Trang chủ</a></li>
                                    <li class="active"><%= profile.name %>
                                    </li>
                                    <li class="active">Tin đăng
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Proerty header  -->
            <!-- Profile -->
            <section id="properties">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="properties-content">
                                <!-- start properties content head -->
                                <div class="properties-content-head">      
                                    <div class="properties-content-head-left">
                                        <label for="sort-by">Sắp xếp theo</label>
                                        <span name="srort-by" title="Mặc định" class="sort-holder">Mặc định</span>
                                        <label for="show-no-item">Hiển thị</label>
                                        <select name="noItem" id="show-no-item" class="show-no-item" form="search-form">
                                        <option value="6">6</option>
                                        <option value="12">12</option>
                                        <option value="24">24</option>
                                        </select>
                                    </div>
                                  <div class="properties-content-head-right">
                                    <a id="grid-properties" href="#"><span class="fa fa-th"></span></a>
                                    <a id="list-properties" href="#"><span class="fa fa-list"></span></a>
                                  </div>            
                                </div>
                                <!-- Start properties content body -->
                                <div class="properties-content-body">
                                  <ul class="properties-nav">
                                    <% data.forEach(value=>{%>
                                      <li>
                                        <article class="properties-item item-<%=value._id%>">
                                            <a href="/property/<%=value._id%>" class="properties-item-img">
                                                <img src="<%=value.thumbnail||"/images/no-image.png"%>" alt="img">
                                            </a>
                                            <% if (locals.user){%>
                                                <% if(locals.user.accountId===value.authorId){%>
                                                    <div class="property-btn option-<%=value._id%>" data-id="<%=value._id%>">
                                                        <img src="/images/option.png">
                                                        <div class="option-btn">
                                                            <div class="delete-property-btn" data-id="<%=value._id%>">Xoá tin</div>
                                                            <div class="edit-property-btn" data-id="<%=value._id%>">Thay đổi tin</div>
                                                        </div>
                                                    </div>
                                                    <%}else if(user.role.admin) {%>
                                                        <div class="property-btn option-<%=value._id%>" data-id="<%=value._id%>">
                                                            <img src="/images/option.png">
                                                            <div class="option-btn">
                                                                <div class="delete-property-btn" data-id="<%=value._id%>">Xoá tin</div>
                                                            </div>
                                                        </div>
                                                    <%}%>
                                            <%}%>
                                            
                                            <div class="tag for-<%=value.isSale ? "sale":"rent"%>">
                                                <%= value.isSale?"Bán":"Cho Thuê" %>
                                            </div>
                                            <div class="properties-item-content">
                                                <div class="properties-info">
                                                    <% if (value.features.rooms) {%>
                                                        <span><%=value.features.rooms%> Phòng</span>
                                                    <%}%>
                                                    <% if (value.features.bathrooms) {%>
                                                        <span><%=value.features.bathrooms%> Phòng vệ sinh</span>
                                                    <%}%>
                                                    <% if (value.features.bedrooms) {%>
                                                        <span><%=value.features.bedrooms%> Phòng ngủ</span>
                                                    <%}%>
                                                    <% if (value.features.floors) {%>
                                                        <span><%=value.features.floors%> Tầng</span>
                                                    <%}%>
                                                </div>
                                                <div class="properties-about">
                                                    <h3>
                                                        <a href="/property/<%=value._id%>" title="<%= value.title %>">
                                                            <%= value.title %>
                                                        </a>
                                                    </h3>
                                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= value.location.district.name %>, <%= value.location.city.name %></p>
                                                </div>
                                                <div class="properties-detial">
                                                    <span class="price">
                                                            <strong><%= value.price===0?"Giá thoả thuận":value.price<1000?(value.price.toString()+" triệu"):(Number(locals.getFlooredFixed(value.price / 1000, 2)).toString() + " tỷ")%><%= value.isSale?"":" / tháng"%></strong><span class="dot">·</span><strong><%= value.area%> m²</strong>
                                                    </span>
                                                    <a href="/property/<%=value._id%>" class="btn" <%= value.isSale?`style=background-color:darkviolet;color:white`:`style=background-color:darkgoldenrod;color:white` %>> Xem chi tiết <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                      </li>
                                    <%})%>
                                  </ul>
                                </div>
                                <!-- Start properties content bottom -->
                                <div class="properties-content-bottom">
                                    <nav>
                                        <ul class="pagination">
                                        <li class="previous-page" >
                                            <a onclick=searchData(<%=pageRange[0]%>) aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                            <% pageRange.forEach(value=>{%>
                                                <li class="pagination-<%=value%> <%= page===value?'active':'' %>"><a onclick=searchData(<%=value%>)><%=value%></a></li>
                                            <%})%>
                                        <li class="next-page">
                                            <a onclick=searchData(<%=pageRange[pageRange.length-1]%>)  aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <%- include('partial/right-profile') -%>
                        </div>
                    </div>
                </div>
            </section>
            <!-- \ Profile -->
            
            <%if(requireInformation === true){%>
            <script>
                alert("Vui lòng cập nhật số điện thoại trước khi đăng tin")
            </script>
            <%}%>
        <div class="modal fade profile-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><h3>Thay đổi thông tin</h3></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;top: 20px;right: 20px">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/profile" method="POST">
                    <table>
                        <tr>
                        <td>Họ và tên <span class="required">(*)</span></td>
                        <td><input type="text" name="name" class="name-input" onkeypress="alphaOnly(event)" value="<%=profile.name%>"></td>
                        </tr>
                        <tr>
                        <td>Số điện thoại <span class="required">(*)</span></td>
                        <td><input type="tel" name="phone" pattern="(03|05|07|08|09|01[2689])+([0-9]{8})" value="<%=profile.phone%>"></td>
                        </tr>
                    </table>
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success confirm-save">Lưu thông tin</button>
                    <button type="button" class="btn btn-secondary confirm-no" data-dismiss="modal">Huỷ</button>
                </div>
                
                </form>
                </div>
            </div>
        </div>
        <%- include('partial/footer') -%>
        <%- include('partial/foot') -%>
    </body>
</html>