<!DOCTYPE html>
<html lang="en">
<%- include('partial/head', {title: "Trang cá nhân"}) -%>
    <body <%- locals.requireInformation?requireInformation?`onload='showToast("Đăng tin", "${requireInformation}", "warning")'`:"":"" -%>>
        <!-- Pre Loader -->
        <div id="preloader-area">
            <div class="pulse"></div>
        </div>
        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
        <!-- END SCROLL TOP BUTTON -->
        <%- include('partial/header', {active:"profile"}) -%>

            <!-- Start Proerty header  -->
            <section id="property-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="property-header-inner">
                                <h2>Trang cá nhân</h2>
                                <ol class="breadcrumb">
                                    <li><a href="/">Trang chủ</a></li>
                                    <li class="active"><%= profile.name %>
                                    </li>
                                    <li class="active">
                                        <%if(route === "property") {%>
                                            Bất động sản
                                        <%} else if(route === "message") {%>
                                            Thông báo
                                        <%} else if(route === "censor") {%>
                                            Chưa kiểm duyệt
                                        <%} else if(route === "infor") {%>
                                            Thông tin
                                        <%}%>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Proerty header  -->
            <!-- Profile -->
            <input type="hidden" value="<%=profile.accountId%>" class="hidden-user-id">
            <section class="profile"  id="properties">
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="side-bar">
                                <div class="user-info">
                                    <img class="img-profile img-circle img-responsive center-block" src="<%=profile.picture||'/images/userprofile.png'%>" height="100" width="100" alt="">
                                    <div class="profile-name"><%= profile.name %></div>
                                    <p></p>
                                    <% if(profile.role.admin){%>
                                        <span class="admin">Admin</span>
                                    <% }else if(profile.role.staff){%>
                                        <span class="staff">Kiểm duyệt viên</span>
                                    <%}else{%>
                                        <% if (locals.user){%>
                                            <% if (locals.user.accountId === profile.accountId){%>
                                        <div>Số dư tài khoản: <%=profile.balance+".000"%> VNĐ</div>
                                        <%}}%>
                                    <%}%>
                                </div>
                                <hr>
                                <nav class="side-menu">
                                    <ul class="nav">
                                        <%if(route === "property") {%>
                                            <li><a href="/profile/<%= profile.accountId %>"><span class="fa fa-user"></span> Thông tin</a></li>
                                            <% if (!(profile.role.admin || profile.role.staff)){%>
                                            <li class="active"><a href="/profile/property/<%= profile.accountId %>"><span class="fa fa-home"></span> Bất động sản</a></li>
                                            <%}%>
                                            <% if (locals.user){%>
                                                <% if (locals.user.accountId === profile.accountId){%>
                                                    <% if (!(profile.role.admin)){ %>
                                                        <li><a href="/profile/inform"><span class="fa fa-envelope"></span> Thông báo <span class="badge badge-pill badge-danger"><%=numOfUnreadInform||''%></span></a></li>
                                                    <%}%>
                                                    <% if (!(profile.role.admin || profile.role.staff)){%>
                                                        <li><a href="/profile/censor"><span class="fa fa-calendar"></span> Chờ kiểm duyệt</a></li>
                                                        <li><a href="/profile/payment"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nạp tiền</a></li>
                                                        <li><a href="/profile/payment-history"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Lịch sử nạp tiền</a></li>
                                                    <%}%>
                                                    <li><a href="/profile/change-password"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                                            <%}}%>
                                        <%} else if(route === "message") {%>
                                            <li><a href="/profile/<%= profile.accountId %>"><span class="fa fa-user"></span> Thông tin</a></li>
                                            <% if (!(profile.role.admin || profile.role.staff)){%>
                                            <li><a href="/profile/property/<%= profile.accountId %>"><span class="fa fa-home"></span> Bất động sản</a></li>
                                            <%}%>
                                            <% if (locals.user){%>
                                                <% if (locals.user.accountId === profile.accountId){%>
                                                    <% if (!(profile.role.admin)){ %>
                                                        <li class="active"><a href="/profile/inform"><span class="fa fa-envelope"></span> Thông báo <span class="badge badge-pill badge-danger"><%=numOfUnreadInform||''%></span></a></li>
                                                    <%}%>
                                                    <% if (!(profile.role.admin || profile.role.staff)){%>
                                                        <li><a href="/profile/censor"><span class="fa fa-calendar"></span> Chờ kiểm duyệt</a></li>
                                                        <li><a href="/profile/payment"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nạp tiền</a></li>
                                                        <li><a href="/profile/payment-history"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Lịch sử nạp tiền</a></li>
                                                    <%}%>
                                                    <li><a href="/profile/change-password"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                                            <%}}%>
                                        <%} else if(route === "censor") {%>
                                            <li><a href="/profile/<%= profile.accountId %>"><span class="fa fa-user"></span> Thông tin</a></li>
                                            <% if (!(profile.role.admin || profile.role.staff)){%>
                                            <li><a href="/profile/property/<%= profile.accountId %>"><span class="fa fa-home"></span> Bất động sản</a></li>
                                            <%}%>
                                            <% if (locals.user){%>
                                                <% if (locals.user.accountId === profile.accountId){%>
                                                    <% if (!(profile.role.admin)){ %>
                                                        <li><a href="/profile/inform"><span class="fa fa-envelope"></span> Thông báo <span class="badge badge-pill badge-danger"><%=numOfUnreadInform||''%></span></a></li>
                                                    <%}%>
                                                    <% if (!(profile.role.admin || profile.role.staff)){%>
                                                        <li class="active"><a href="/profile/censor"><span class="fa fa-calendar"></span> Chờ kiểm duyệt</a></li>
                                                        <li><a href="/profile/payment"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nạp tiền</a></li>
                                                        <li><a href="/profile/payment-history"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Lịch sử nạp tiền</a></li>
                                                    <%}%>
                                                    <li><a href="/profile/change-password"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                                            <%}}%>
                                        <%} else if(route === "infor") {%>
                                            <li class="active"><a href="/profile/<%= profile.accountId %>"><span class="fa fa-user"></span> Thông tin</a></li>
                                            
                                            <% if (!(profile.role.admin || profile.role.staff)){%>
                                            <li><a href="/profile/property/<%= profile.accountId %>"><span class="fa fa-home"></span> Bất động sản</a></li>
                                            <%}%>
                                            <% if (locals.user){%>
                                                <% if (locals.user.accountId === profile.accountId){%>
                                                    <% if (!(profile.role.admin)){ %>
                                                        <li><a href="/profile/inform"><span class="fa fa-envelope"></span> Thông báo <span class="badge badge-pill badge-danger"><%=numOfUnreadInform||''%></span></a></li>
                                                    <%}%>
                                                    <% if (!(profile.role.admin || profile.role.staff)){%>
                                                        <li><a href="/profile/censor"><span class="fa fa-calendar"></span> Chờ kiểm duyệt</a></li>
                                                        <li><a href="/profile/payment"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nạp tiền</a></li>
                                                        <li><a href="/profile/payment-history"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Lịch sử nạp tiền</a></li>
                                                    <%}%>
                                                    <li><a href="/profile/change-password"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                                            <%}}%>
                                        <%} else if(route === "change-password") {%>
                                                <li><a href="/profile/<%= profile.accountId %>"><span class="fa fa-user"></span> Thông tin</a></li>
                                                
                                                <% if (!(profile.role.admin || profile.role.staff)){%>
                                                <li><a href="/profile/property/<%= profile.accountId %>"><span class="fa fa-home"></span> Bất động sản</a></li>
                                                <%}%>
                                                <% if (locals.user){%>
                                                    <% if (locals.user.accountId === profile.accountId){%>
                                                        <% if (!(profile.role.admin)){ %>
                                                            <li><a href="/profile/inform"><span class="fa fa-envelope"></span> Thông báo <span class="badge badge-pill badge-danger"><%=numOfUnreadInform||''%></span></a></li>
                                                        <%}%>
                                                        <% if (!(profile.role.admin || profile.role.staff)){%>
                                                            <li><a href="/profile/censor"><span class="fa fa-calendar"></span> Chờ kiểm duyệt</a></li>
                                                            <li><a href="/profile/payment"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nạp tiền</a></li>
                                                            <li><a href="/profile/payment-history"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Lịch sử nạp tiền</a></li>
                                                        <%}%>
                                                        <li class="active"><a href="/profile/change-password"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                                                <%}}%>
                                            <%} else if(route === "payment") {%>
                                                    <li><a href="/profile/<%= profile.accountId %>"><span class="fa fa-user"></span> Thông tin</a></li>
                                                    
                                                    <% if (!(profile.role.admin || profile.role.staff)){%>
                                                    <li><a href="/profile/property/<%= profile.accountId %>"><span class="fa fa-home"></span> Bất động sản</a></li>
                                                    <%}%>
                                                    <% if (locals.user){%>
                                                        <% if (locals.user.accountId === profile.accountId){%>
                                                            <% if (!(profile.role.admin)){ %>
                                                                <li><a href="/profile/inform"><span class="fa fa-envelope"></span> Thông báo <span class="badge badge-pill badge-danger"><%=numOfUnreadInform||''%></span></a></li>
                                                            <%}%>
                                                            <% if (!(profile.role.admin || profile.role.staff)){%>
                                                                <li><a href="/profile/censor"><span class="fa fa-calendar"></span> Chờ kiểm duyệt</a></li>
                                                                <li class="active"><a href="/profile/payment"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nạp tiền</a></li>
                                                                <li><a href="/profile/payment-history"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Lịch sử nạp tiền</a></li>
                                                            <%}%>
                                                            <li><a href="/profile/change-password"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                                                    <%}}%>
                                                <%} else if(route === "payment-history") {%>
                                                    <li><a href="/profile/<%= profile.accountId %>"><span class="fa fa-user"></span> Thông tin</a></li>
                                                    
                                                    <% if (!(profile.role.admin || profile.role.staff)){%>
                                                    <li><a href="/profile/property/<%= profile.accountId %>"><span class="fa fa-home"></span> Bất động sản</a></li>
                                                    <%}%>
                                                    <% if (locals.user){%>
                                                        <% if (locals.user.accountId === profile.accountId){%>
                                                            <% if (!(profile.role.admin)){ %>
                                                                <li><a href="/profile/inform"><span class="fa fa-envelope"></span> Thông báo <span class="badge badge-pill badge-danger"><%=numOfUnreadInform||''%></span></a></li>
                                                            <%}%>
                                                            <% if (!(profile.role.admin || profile.role.staff)){%>
                                                                <li><a href="/profile/censor"><span class="fa fa-calendar"></span> Chờ kiểm duyệt</a></li>
                                                                <li><a href="/profile/payment"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Nạp tiền</a></li>
                                                                <li class="active"><a href="/profile/payment-history"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Lịch sử nạp tiền</a></li>
                                                            <%}%>
                                                            <li><a href="/profile/change-password"><span class="fa fa-cog"></span> Đổi mật khẩu</a></li>
                                                    <%}}%>
                                                <%}%>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 right-border">
                            <%if(route === "property") {%>
                                <%-include('profile/property')-%>
                            <%} else if(route === "message") {%>
                                <%-include('profile/message')-%>
                            <%} else if(route === "censor") {%>
                                <%-include('profile/censor')-%>
                            <%} else if(route === "infor") {%>
                                <%-include('profile/infor')-%>
                            <%} else if(route === "change-password") {%>
                                <%-include('profile/change-password')-%>
                            <%} else if(route === "payment") {%>
                                <%-include('profile/pay')-%>
                            <%} else if(route === "payment-history") {%>
                                <%-include('profile/payment-history')-%>
                            <%}%>
                        </div>
                    </div>
                </div>
            </section>
            <!-- \ Profile -->
        <div class="modal fade profile-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><h3>Thay đổi thông tin</h3></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;top: 20px;right: 20px">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/profile" method="POST">
                    <table>
                        <tr>
                        <td>Họ và tên <span class="required">(*)</span></td>
                        <td><input type="text" name="name" class="name-input" onkeypress="alphaOnly(event)" value="<%=profile.name%>"></td>
                        </tr>
                        <tr>
                        <td>Số điện thoại <span class="required">(*)</span></td>
                        <td><input type="tel" name="phone" pattern="(03|05|07|08|09|01[2689])+([0-9]{8})" value="<%=profile.phone%>"></td>
                        </tr>
                    </table>
                    </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success confirm-save">Lưu thông tin</button>
                    <button type="button" class="btn btn-secondary confirm-no" data-dismiss="modal">Huỷ</button>
                </div>
                
                </form>
                </div>
            </div>
        </div>
        <%- include('partial/footer') -%>
        <%- include('partial/foot') -%>
    </body>
</html>