<!DOCTYPE html>
<html lang="en">
    <%- include('partial/head', {title: "Properties"}) -%>
  <body class="price-range" onload="setNoUiSliderOption(<%= range.minPrice %>,<%= range.maxPrice %>,<%= range.minArea %>,<%= range.maxArea %>); setSlider([<%= searchData.areaFrom %>,<%= searchData.areaTo %>], [<%= searchData.priceFrom %>,<%= searchData.priceTo %>]); loadCity('<%=searchData.city%>'); loadDistrict('<%=searchData.city%>', '<%=searchData.district%>')">  
  <!-- Pre Loader -->
  <div id="preloader-area" >
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->
  <%- include('partial/header', {active: "properties"}) -%>

  <!-- Start Proerty header  -->
  <section id="property-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="property-header-inner">
            <h2>Trang bất động sản</h2>
            <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>            
            <li class="active">Bất động sản</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->
  <!-- Start Properties  -->
  <section id="properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="properties-content">
            <!-- start properties content head -->
            <div class="properties-content-head">              
              <div class="properties-content-head-left">
                  <label for="sort-by">Sắp xếp theo</label>
                  <span name="srort-by" title="Mặc định" class="sort-holder">Mặc định</span>
                  <label for="show-no-item">Hiển thị</label>
                  <select name="noItem" id="show-no-item" class="show-no-item" form="search-form">
                    <option value="6"  <%= searchData.noItem==='6'||!searchData.noItem?"selected":""%>>6</option>
                    <option value="12" <%= searchData.noItem==='12'?"selected":""%>>12</option>
                    <option value="24" <%= searchData.noItem==='24'?"selected":""%>>24</option>
                  </select>
              </div>
              <div class="properties-content-head-right">
                <a id="grid-properties" href="#"><span class="fa fa-th"></span></a>
                <a id="list-properties" href="#"><span class="fa fa-list"></span></a>
              </div>  
            </div>
            <!-- Start properties content body -->
            <div class="properties-content-body">
              <ul class="properties-nav">
                <% data.forEach(value=>{%>
                  <li>
                    <article class="properties-item item-<%=value._id%>">
                        <a href="/property/<%=value._id%>" class="properties-item-img">
                            <img src="<%=value.thumbnail||"/images/no-image.png"%>" alt="img">
                        </a>
                        <% if (locals.user){%>
                            <% if(locals.user.accountId===value.authorId){%>
                                <div class="property-btn option-<%=value._id%>" data-id="<%=value._id%>">
                                    <img src="/images/option.png">
                                    <div class="option-btn">
                                        <div class="delete-property-btn" data-id="<%=value._id%>">Xoá tin</div>
                                        <div class="edit-property-btn" data-id="<%=value._id%>">Thay đổi tin</div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                        
                        <div class="tag for-<%=value.isSale ? "sale":"rent"%>">
                            <%= value.isSale?"Bán":"Cho Thuê" %>
                        </div>
                        <div class="properties-item-content">
                            <div class="properties-info">
                                <% if (value.features.rooms) {%>
                                    <span><%=value.features.rooms%> Phòng</span>
                                <%}%>
                                <% if (value.features.bathrooms) {%>
                                    <span><%=value.features.bathrooms%> Phòng vệ sinh</span>
                                <%}%>
                                <% if (value.features.bedrooms) {%>
                                    <span><%=value.features.bedrooms%> Phòng ngủ</span>
                                <%}%>
                                <% if (value.features.floors) {%>
                                    <span><%=value.features.floors%> Tầng</span>
                                <%}%>
                            </div>
                            <div class="properties-about">
                                <h3>
                                    <a href="/property/<%=value._id%>" title="<%= value.title %>">
                                        <%= value.title %>
                                    </a>
                                </h3>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= value.location.district.name %>, <%= value.location.city.name %></p>
                            </div>
                            <div class="properties-detial">
                                <span class="price">
                                        <strong><%= value.price===0?"Giá thoả thuận":value.price<1000?(value.price.toString()+" triệu"):(Number(locals.getFlooredFixed(value.price / 1000, 2)).toString() + " tỷ")%><%= value.isSale?"":" / tháng"%></strong><span class="dot">·</span><strong><%= value.area%> m²</strong>
                                </span>
                                <a href="/property/<%=value._id%>" class="btn" <%= value.isSale?`style=background-color:darkviolet;color:white`:`style=background-color:darkgoldenrod;color:white` %>> Xem chi tiết <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </article>
                  </li>
                <%})%>
              </ul>
            </div>
            <!-- Start properties content bottom -->
            
  
            <div class="properties-content-bottom">
              <nav>
                <ul class="pagination">
                  <li class="previous-page" >
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                    <% pageRange.forEach(value=>{%>
                      <li class="pagination-<%=value%> <%= page===value?'active':'' %>"><a onclick=searchData(<%=value%>)><%=value%></a></li>
                    <%})%>
                  <li class="next-page">
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Start properties sidebar -->
        
        <div class="col-md-4">
          <aside class="properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="properties-single-sidebar">
              <h3>Tìm kiếm bất động sản</h3>
              
                <div class="single-advance-search">
                  <label for="keyword">Thông tin bất động sản</label>
                  <input type="text" name="keyword" id="keyword" placeholder="Nhập keyword" value="<%= searchData.keyword %>">
                </div>
                <div class="single-advance-search">
                  <label for="isSale">Hình thức</label>
                  <select id="isSale" name="isSale">
                      <option value="any" <%= searchData.type==='any'?"selected":""%>>Tất cả</option>
                      <option value="rent" <%= searchData.isSale==='rent'?"selected":""%>>Cho thuê</option>
                      <option value="sale" <%= searchData.isSale==='sale'?"selected":""%>>Bán</option>
                  </select>
                </div>
                <div class="single-advance-search">
                  <label for="type">Loại hình</label>
                  <select name="type" id="type">
                      <option value="any" <%= searchData.type==='any'?"selected":""%>>Tất cả</option>
                      <option value="appartment" <%= searchData.type==='appartment'?"selected":""%>>Căn hộ chung cư</option>
                      <option value="street-house" <%= searchData.type==='street-house'?"selected":""%>>Nhà mặt phố</option>
                      <option value="personal-house" <%= searchData.type==='personal-house'?"selected":""%>>Nhà riêng</option>
                      <option value="villa" <%= searchData.type==='villa'?"selected":""%>>Nhà biệt thự</option>
                  </select>
                </div>
                <div class="single-advance-search">
                  <label for="city">Tỉnh/Thành</label>
                  <select name="city" id="city" class="city-picker" >
                      <option value="any" <%= searchData.city==='any'?"selected":""%>>Tất cả</option>
                      
                  </select>
                </div>
                <div class="single-advance-search">
                  <label for="district">Quận/Huyện</label>
                  <select name="district" id="district" class="district-picker">
                      <option value="any" <%= searchData.district==='any'?"selected":""%>>Tất cả</option>
                  </select>
                </div>
                <div class="single-filter-search">
                  <span>Diện tích </span>
                  <span>Từ</span>
                  <span id="skip-value-lower" class="example-val"></span>
                  <span>Đến</span>
                  <span id="skip-value-upper" class="example-val"></span>
                  <span class="set-area"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                  <div  style="display: none;" class="input-set-area">
                      <input type="number" id="area-from" name="areaFrom"> - 
                      <input type="number" id="area-to" name="areaTo">
                  </div>
                  <div id="sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>                 
                </div>
                <div class="single-filter-search">
                  <span>Giá </span>
                  <span>Từ</span>
                  <span id="skip-value-lower2" class="example-val"></span>
                  <span>Đến</span>
                  <span id="skip-value-upper2" class="example-val"></span>
                  <span class="set-price"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                  <div style="display: none;" class="input-set-price">
                      <input type="number" id="price-from" name="priceFrom"> - 
                      <input type="number" id="price-to" name="priceTo">
                  </div>
                  <div id="price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>     
                </div>
                <div class="single-advance-search">
                  <span class="more-choice">Thêm <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </div>
                <div class="show-more">
                  <div class="single-advance-search">
                      <label for="rooms">Số phòng</label>
                      <select name="rooms" id="rooms">
                          <option value="any" <%= searchData.rooms==='any'?"selected":""%>>Tất cả</option>
                          <option value="1" <%= searchData.rooms==='1'?"selected":""%>>01</option>
                          <option value="2" <%= searchData.rooms==='2'?"selected":""%>>02</option>
                          <option value="3" <%= searchData.rooms==='3'?"selected":""%>>03</option>
                          <option value="4" <%= searchData.rooms==='4'?"selected":""%>>04</option>
                          <option value="more" <%= searchData.rooms==='more'?"selected":""%>>05+</option>
                      </select>
                  </div>
                  <div class="single-advance-search">
                      <label for="floors">Số lầu</label>
                      <select name="floors" id="floors">
                          <option value="any" <%= searchData.floors==='any'?"selected":""%>>Tất cả</option>
                          <option value="1" <%= searchData.floors==='1'?"selected":""%>>01</option>
                          <option value="2" <%= searchData.floors==='2'?"selected":""%>>02</option>
                          <option value="3" <%= searchData.floors==='3'?"selected":""%>>03</option>
                          <option value="4" <%= searchData.floors==='4'?"selected":""%>>04</option>
                          <option value="more" <%= searchData.floors==='more'?"selected":""%>>05+</option>
                      </select>
                  </div>
                  <div class="single-advance-search">
                      <label for="bathrooms">Số nhà vệ sinh</label>
                      <select name="bathrooms" id="bathrooms">
                          <option value="any" <%= searchData.bathrooms==='any'?"selected":""%>>Tất cả</option>
                          <option value="1" <%= searchData.bathrooms==='1'?"selected":""%>>01</option>
                          <option value="2" <%= searchData.bathrooms==='2'?"selected":""%>>02</option>
                          <option value="3" <%= searchData.bathrooms==='3'?"selected":""%>>03</option>
                          <option value="4" <%= searchData.bathrooms==='4'?"selected":""%>>04</option>
                          <option value="more" <%= searchData.bathrooms==='more'?"selected":""%>>05+</option>
                      </select>
                  </div>
                  <div class="single-advance-search">
                      <label for="bedrooms">Số phòng ngủ</label>
                      <select name="bedrooms" id="bedrooms">
                          <option value="any" <%= searchData.bedrooms==='any'?"selected":""%>>Tất cả</option>
                          <option value="1" <%= searchData.bedrooms==='1'?"selected":""%>>01</option>
                          <option value="2" <%= searchData.bedrooms==='2'?"selected":""%>>02</option>
                          <option value="3" <%= searchData.bedrooms==='3'?"selected":""%>>03</option>
                          <option value="4" <%= searchData.bedrooms==='4'?"selected":""%>>04</option>
                          <option value="more" <%= searchData.bedrooms==='more'?"selected":""%>>05+</option>
                      </select>
                  </div>
                </div>
                <div class="single-advance-search">
                  <input type="submit" value="Tìm kiếm" class="search-btn search-second">
                </div>
            </div> 
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- / Properties  -->
  <%- include('partial/foot') -%>
  <%- include('partial/footer') -%>

  </body>
</html>