<!DOCTYPE html>
<html lang="en">
<%- include('partial/head', {title: "Add Property"}) -%>

    <body class="price-range" onload="loadCity('<%= locals.data?data.location.city.id:'' %>'); loadDistrict('<%= locals.data?data.location.city.id:'' %>', '<%= locals.data?data.location.district.id:'' %>')">
        <!-- Pre Loader -->
        <div id="preloader-area">
            <div class="pulse"></div>
        </div>
        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
        <!-- END SCROLL TOP BUTTON -->
        <%- include('partial/header', {active: "add"}) -%>

            <!-- Start Proerty header  -->

            <section id="property-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="property-header-inner">
                                <h2><%= type?"Thay đổi tin bất động sản":"Đăng tin bất động sản" %></h2>
                                <ol class="breadcrumb">
                                    <li><a href="/">Trang chủ</a></li>
                                    <li class="active"><%= type?"Thay đổi tin":"Đăng tin" %></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Proerty header  -->

            <!-- Add property section -->

            <section>
                <div class="container" style="width: 50%; margin-bottom: 50px">
                    <div class="row">
                        <form action="<%=type?`/property/edit-property/${data._id}`:'/property'%>" method="POST" enctype="multipart/form-data">
                            <div class="property-infor" style="width: 100%">
                                <div class="title" style="margin-top: 50px">
                                    <h2>Thông tin bất động sản</h2>
                                    <span></span>
                                </div>
                                <p style="text-align: center">Thêm các thông tin về bất động sản của bạn</p>
                                <table style="width: 100%">
                                    <tr>
                                        <td><label for="title">Tiêu đề : <span class="required">(*)</span></label></td>
                                        <td colspan="3"><input style="width: 100%" type="text" value="<%= locals.data?data.title:''%>" name="title" required></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="suggestions">
                                                <strong>Không nên:</strong>
                                                <p>- Ghi "Cần bán" hay "Cần cho thuê"</p>
                                                <p>- Chèn giá và số điện thoại ở tiêu đề</p>
                                                <p></p>
                                                <strong>Ví dụ:</strong>
                                                <p> Căn hộ 2PN 68m2 Celadon City, Q. Tân Phú</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="type">Hình thức : <span class="required">(*)</span></label></td>
                                        <td colspan="3" class="property-type">
                                            <div>
                                                <input type="radio" name="isSale" value="True" id="for-sale" <%= locals.data?(data.isSale?'checked':''):'checked' %>>
                                                <label for="for-sale">Bán</label>
                                            </div>
                                            <div>
                                                <input type="radio" name="isSale" value="False" id="for-rent" <%= locals.data?(data.isSale?'':'checked'):'' %>>
                                                <label for="for-rent">Cho thuê</label>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="city">Tỉnh/Thành : <span class="required">(*)</span></label></td>
                                        <td>
                                            <select name="city" id="city" class="city-picker" required>
                                                <option value="">--Chọn tỉnh/thành--</option>
                                            </select>
                                        </td>
                                        <td><label for="district">Quận/Huyện : <span class="required">(*)</span></label></td>
                                        <td>
                                            <select name="district" id="district" class="district-picker" required>
                                                <option value="">--Chọn quận/huyện--</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="type">Loại hình : <span class="required">(*)</span></label></td>
                                        <td><select name="type" id="type">
                                                <option value="appartment" <%= locals.data?(data.type==='appartment'?'selected':''):'selected'%>>Căn hộ chung cư</option>
                                                <option value="personal-house" <%= locals.data?(data.type==='personal-house'?'selected':''):''%>>Nhà riêng</option>
                                                <option value="street-house" <%= locals.data?(data.type==='street-house'?'selected':''):''%>>Nhà mặt phố</option>
                                                <option value="villa" <%= locals.data?(data.type==='villa'?'selected':''):''%>>Nhà biệt thự</option>                                        
                                        </select></td>
                                        <td><label for="area">Diện tích (m²) : <span class="required">(*)</span></label></td>
                                        <td><input type="number" id="area" value="<%= locals.data?data.area:''%>" name="area" step="0.01" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="price">Giá : <span class="required">(*)</span></label></td>
                                        <% if (locals.data) {%>
                                            <% if (data.price===0){%>
                                                <td><input type="number" id="price" step="0.01" name="price" disabled></td>
                                            <%}else if (data.price<100) { %>
                                                <td><input type="number" id="price" step="0.01" name="price" value="<%= data.price %>" required></td>
                                            <%}else if (data.price<1000) { %>
                                                <td><input type="number" id="price" step="0.01" name="price" value="<%= data.price/10 %>" required></td>
                                            <%}else{%>
                                                <td><input type="number" id="price" step="0.01" name="price" value="<%= data.price/1000 %>" required></td>
                                            <%}%>
                                        <%}else{%>
                                            <td><input type="number" id="price" step="0.01" name="price" required></td>
                                        <%}%>
                                        <td><label for="unit">Đơn vị : <span class="required">(*)</span></label></td>
                                        <td>
                                            <select name="unit" id="unit">
                                                <% if (locals.data) {%>
                                                    <% if (data.price===0){%>
                                                        <option value="m">Triệu</option>
                                                        <option value="bm">Trăm triệu</option>
                                                        <option value="b">Tỷ</option>
                                                        <option value="n" selected>Thỏa thuận</option> 
                                                    <%}else if (data.price<100) { %>
                                                        <option value="m" selected>Triệu</option>
                                                        <option value="bm">Trăm triệu</option>
                                                        <option value="b">Tỷ</option>
                                                        <option value="n">Thỏa thuận</option> 
                                                    <%}else if (data.price<1000) { %>
                                                        <option value="m">Triệu</option>
                                                        <option value="bm" selected>Trăm triệu</option>
                                                        <option value="b">Tỷ</option>
                                                        <option value="n">Thỏa thuận</option> 
                                                    <%}else{%>
                                                        <option value="m">Triệu</option>
                                                        <option value="bm">Trăm triệu</option>
                                                        <option value="b" selected>Tỷ</option>
                                                        <option value="n">Thỏa thuận</option> 
                                                    <%}%>
                                                <%}else{%>
                                                    <option value="m" selected>Triệu</option>
                                                    <option value="bm">Trăm triệu</option>
                                                    <option value="b">Tỷ</option>
                                                    <option value="n">Thỏa thuận</option> 
                                                <%}%>        
                                        </select>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="suggestions">
                                                <p>Điền đúng giá và theo đúng đơn vị. Không điền giá /m² hay giá /tháng</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label for="address">Địa chỉ : <span class="required">(*)</span></label></td>
                                        <td colspan="3"><input style="width: 100%" type="text" id="address" name="address" value="<%= locals.data?data.address:''%>" required></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            </br>
                                            <p>Trường có dấu <strong><span class="required">(*)</span></strong> là bắt buộc</p>
                                        </td>
                                    </tr>
                                </table>
                                
                            </div>
                            </br>
                            <div class="property-feature">
                                <div class="title">
                                    <h2>Đặc điểm bất động sản</h2>
                                    <span></span>
                                </div>
                                <p style="text-align: center">Thêm các đặc điểm về bất động sản của bạn</p>
                                <table style="width: 100%">
                                    <tr>
                                        <td><label for="rooms">Số phòng:</label></td>
                                        <td><input type="number" id="rooms" name="rooms" value="<%= locals.data?data.features.rooms:''%>"></td>
                                        <td><label for="bedrooms">Số phòng ngủ:</label></td>
                                        <td><input type="number" id="bedrooms" name="bedrooms" value="<%= locals.data?data.features.bedrooms:''%>"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="bathrooms">Số phòng vệ sinh:</label></td>
                                        <td><input type="number" id="bathrooms" name="bathrooms" value="<%= locals.data?data.features.bathrooms:''%>"></td>
                                        <td><label for="floors">Số tầng:</label></td>
                                        <td><input type="number" id="floors" name="floors" value="<%= locals.data?data.features.floors:''%>"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div class="suggestions">
                                                <strong>Gợi ý:</strong>
                                                <p>Nên điền đầy đủ thông tin vào các mục trên đây để tin đăng có hiệu quả hơn</p>
                                        </td>
                                    </tr>
                                    <tr class="description">
                                        <td id="label">
                                            <label for="description">Mô tả về bất động sản: <span class="required">(*)</span></label>
                                            <div class="suggestions">
                                                Giới thiệu chung về bất động sản của bạn. 
                                                <strong>Ví dụ:</strong> 
                                                <p>Khu nhà có vị trí thuận lợi: Gần công viên, gần trường học ... Tổng diện tích 52m2, đường đi ô tô vào tận cửa.</p>
                                            </div>
                                        </td>
                                        <td colspan="3" id="input"><textarea required name="description" ><%= locals.data?data.description:''%></textarea>
                                    </tr>
                                </table>
                            </div>
                            </br>
                            <div class="property-attach">
                                <div class="title">
                                    <h2>Hình ảnh</h2>
                                    <span></span>
                                </div>
                                <p style="text-align: center">Thêm ảnh minh hoạ cho bất động sản của bạn</p>
                                <div class="upload">
                                    <div class="suggestions">
                                        <input type="file" id="files" name="files" style="display: none" class="image-upload" multiple>
                                        <div class="image-upload-holder">
                                            Bấm vào đây để thêm ảnh
                                        </div>
                                        <div class="text">
                                            <strong>Để bán nhanh hơn:</strong>
                                            <p>- Chụp hình khổ ngang: phòng ngủ, phòng khách, bếp ban công</p>
                                        </br>
                                            <strong>Vui lòng sử dụng hình ảnh thật, không đăng trùng và không thêm số điện thoại vào hình ảnh.</strong>
                                        </div>
                                        
                                    </div>
                                    <% if (locals.data) {%>
                                        <%if (data.thumbnail.length){%>
                                            <p class="image-upload-mess">Hiện có <%= data.thumbnail.length %> ảnh <i class="fa fa-chevron-down" aria-hidden="true"></i></p>
                                        <%}%>
                                    <%}else{%>
                                        <p class="image-upload-mess" style="display: none"></p>
                                    <%}%>
                                    </br>
                                </div>
                                <div class="swiper-container" id="image-preview">
                                    <div class="swiper-wrapper">
                                        <% if (locals.data) {%>
                                            <%if (data.thumbnail.length){%>
                                                <% data.thumbnail.forEach(value=>{ %>
                                                    <div class="swiper-slide">
                                                        <img src="<%=value%>" >
                                                    </div>
                                                <% }) %>
                                            <%}%>
                                        <%}%>
                                    </div>
                                    <div class="swiper-button-next"><img src="https://staticfile.batdongsan.com.vn/images/icons/slide-next.png"></div>
                                    <div class="swiper-button-prev"><img src="https://staticfile.batdongsan.com.vn/images/icons/slide-prev.png"></div>
                                </div>
                            </div>
                            </br>
                            
                            <div class="property-submit">
                                <hr style="height:2px;width:50%;color:gray;background-color:gray">
                                <button type="submit" class="btn btn-primary add-property-submit"><%= type?"Lưu tin":"Đăng tin" %></button>
                            </div>

                        </form>
                    </div>
                </div>
            </section>
            <!-- End add property section -->
            <%- include('partial/foot') -%>
                <%- include('partial/footer') -%>

    </body>

</html>