<!DOCTYPE html>
<html lang="en">
<%- include('partial/head', {title: "Profile"}) -%>

    <body>
        <!-- Pre Loader -->
        <div id="preloader-area">
            <div class="pulse"></div>
        </div>
        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
        <!-- END SCROLL TOP BUTTON -->
        <%- include('partial/header', {active:""}) -%>

            <!-- Start Proerty header  -->
            <section id="property-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="property-header-inner">
                                <h2>Profile</h2>
                                <ol class="breadcrumb">
                                    <li><a href="#">PROFILE</a></li>
                                    <li class="active"><%= profile.name %>
                                    </li>
                                    <li class="active">Liên hệ</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Proerty header  -->
            <!-- Profile -->
            <section id="properties">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="contact-list">
                                <table>
                                    <tr>
                                    <th>
                                        Tình trạng
                                    </th>
                                    <th>
                                        Thời gian
                                    </th>
                                    <th>
                                        Bất động sản
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                                <% contact.forEach((value, index)=>{ %>
                                    <tr <%=!value.isRead?"class=new":""%> class="contact-id-<%= value._id %>">
                                        <td>
                                            <%=!value.isRead?'Mới':''%>
                                        </td>
                                        <td>
                                            <%= value.date.toLocaleString() %>
                                        </td>
                                        <td>
                                        <a href="/property/<%= value.propertyId %>" class="contact-property" ><%= value.propertyId %></a> 
                                        </td>
                                        <td class="contact-phone">
                                            <span class="contact-<%=value._id%>" data-phone="<%= value.phone %>"  data-id="<%=value._id%>">Bấm để hiện số</span>
                                        </td>
                                        <td>
                                            <a class="contact-detail" data-id="<%=value._id%>" data-phone="<%=value.phone%>" data-email="<%=value.email%>" data-name="<%=value.name%>" data-desc="<%=value.desc%>">Xem chi tiết <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>|
                                            <a class="contact-remove" data-id="<%=value._id%>">Xóa</a>
                                        </td>
                                    </tr>
                                <%})%>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <%- include('partial/right-profile') -%>
                        </div>
                    </div>
                </div>
            </section>
            <!-- \ Profile -->
        <%- include('partial/foot') -%>
        <%- include('partial/footer') -%>
    </body>
</html>