<!DOCTYPE html>
<html lang="en">
<%- include('partial/head', {title: "Details"}) -%>

    <body class="price-range">
        <!-- Pre Loader -->
        <div id="preloader-area">
            <div class="pulse"></div>
        </div>
        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
        <!-- END SCROLL TOP BUTTON -->
        <%- include('partial/header', {active: "properties"}) -%>
  <!-- Start Proerty header  -->

  <section id="property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="property-header-inner">
            <h2>Properties Details</h2>
            <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>            
            <li class="active"><%= data.title %></li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="properties-content">            
            <!-- Start properties content body -->
            <div class="properties-details">
              <div class="properties-details-img">
                  <% if (data.thumbnail.length){ %>
                      <% data.thumbnail.forEach(value=>{%>
                          <img src="<%= value %>" alt="img">
                      <%}) %>
                  <%}else{%>
                      <img src="/images/no-image.png" alt="img">
                  <%}%>
                  <% data.thumbnail.forEach(value=>{%>
                      <img src="<%= value %>" alt="img">
                      <%}) %>
              </div>
              <div class="properties-info">
                <h2>
                    <%= data.title %>
                </h2>
                <p><%= data.address %></p>
                <% if (locals.user) {%>
                    <% if (data.authorId===locals.user.accountId){%>
                    <span class="delete-property-btn" data-id="<%=data._id%>">Xoá tin</span>
                    <span class="edit-property-btn" data-id="<%=data._id%>">Thay đổi tin</span>
                    <%}%>
                <%}%>
                <hr style="height:1px;border-width:0;color:#f1f1f1;background-color: #D4D4D4">
                <div class="row">
                    <div class="col-md-6">
                        <p>Mức giá:</p>
                        <span class="price"><%= data.price===0?"Giá thoả thuận":data.price<1000?data.price.toString()+" triệu":(Number(locals.getFlooredFixed(parseInt(data.price) / 1000, 2)).toString() + " tỷ")%> <%= data.isSale?"":" / tháng"%></span>
                    </div>
                    <div class="col-md-6">
                        <p>Diện tích:</p>
                        <span class="price"><%= data.area %> m²</span>
                    </div>
                </div>
                <hr style="height:1px;border-width:0;color:#f1f1f1;background-color:#D4D4D4">
                <h4><b>Thông tin mô tả</b></h4>
                <p style="white-space: pre-line">
                    <%= data.description %>
                </p>
                <h4><b>Đặc điểm bất động sản</b></h4>
                <ul>
                    <% if (data.features.rooms) {%>
                        <li><%=data.features.rooms%> Phòng</li>
                    <%}%>
                    <% if (data.features.bathrooms) {%>
                        <li><%=data.features.bathrooms%> Phòng vệ sinh</li>
                    <%}%>
                    <% if (data.features.bedrooms) {%>
                        <li><%=data.features.bedrooms%> Phòng ngủ</li>
                    <%}%>
                    <% if (data.features.floors) {%>
                        <li><%=data.features.floors%> Tầng</li>
                    <%}%>
                </ul>
                <!-- <h4><b>Bản đồ bất động sản</b></h4> -->
                <!-- <div id="map"></div> -->
              </div>
              <!-- Properties social share -->
              <div class="properties-social">
                  <ul>
                      <li>Share</li>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Start properties sidebar -->
        <div class="col-md-4">
          <aside class="properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="properties-single-sidebar">
              <h3>Người <%= data.isSale?"bán":"cho thuê" %></h3>
              <a class="profile-name" href="/profile/property/<%=data.authorId%>"><i class="fa fa-user" aria-hidden="true" style="margin-right: 10px;"></i><%= data.nameContact %></a>
              <% if(data.emailContact) {%>
                <p class="email-contact"><i class="fa fa-envelope" aria-hidden="true"></i><%=data.emailContact%></p>
              <%}%>
              <% if (numOfDoc){%>
                <p><a href="/profile/property/<%=data.authorId%>">Xem thêm (<%=numOfDoc%>) bất động sản khác</a></p>
              <%}%>
              <div class="phone-contact-container">
                <div class="inform">Đã sao chép</div>
                <p class="phone-contact" style="background-color: <%= data.isSale?'darkviolet':'darkgoldenrod' %>">
                  <i class="fa fa-phone" aria-hidden="true" style="margin-right: 10px;"></i><span>Bấm để hiện số</span>
                </p> 
                <p class="copy" style="background-color: <%= data.isSale?'darkviolet':'darkgoldenrod' %>"><i class="fa fa-clipboard" aria-hidden="true"></i></p>
              
                <div type="hidden" id="phone-copy" data-phone="<%=data.phoneContact%>"></div>
              </div>
              <div class="contact-require" data-id="<%=data.authorId%>"  data-property="<%=data._id%>" >Yêu cầu liên hệ lại</div>
            </div>
              <!-- Start Single properties sidebar -->"
            <% if(authorProperty.length) {%>
              <div class="properties-single-sidebar">
                <h3>Bất động sản của <%= data.nameContact %></h3>
              <% authorProperty.forEach(value=>{%>
                <div class="media">
                  <div class="media-left">
                    <a href="/property/<%=value._id%>">
                      <% if (value.thumbnail){%>
                        <img class="media-object" src="<%=value.thumbnail%>" alt="img">
                      <%}else{%>
                        <img class="media-object" src="/images/no-image.png" alt="img">
                      <%}%>
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a title="<%=value.title%>"  href="/property/<%=value._id%>"><%=value.title%></a></h4>
                    <p><%=value.location.city%>, <%=value.location.district%></p>
                    <span><strong><%= value.price===0?"Giá thoả thuận":value.price<1000?(value.price.toString()+" triệu"):(Number(locals.getFlooredFixed(value.price / 1000, 2)).toString() + " tỷ")%><%= value.isSale?"":" / tháng"%></strong><span class="dot">·</span><strong><%= value.area%> m²</strong></span>
                  </div>
                </div>
              <%})%>
              <div class="see-more-btn">
                <a href="/profile/property/<%=data.authorId%>" >Xem thêm  <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
              </div>
            </div>
            <%}%>
            </aside>
          </div>
        </div>
            
        <br>
        <!-- Nearby properties -->
        <div class="nearby-properties">
          <div class="title">
            <h2>Bất động sản gần đây</h2>
            <span></span>
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% nearBy.forEach(value=>{%>
                  <div class="swiper-slide">
                    <article class="properties-item item-<%=value._id%>">
                        <a href="/property/<%=value._id%>" class="properties-item-img">
                            <img src="<%=value.thumbnail||"/images/no-image.png"%>" alt="img">
                        </a>
                        <% if (locals.user){%>
                            <% if(locals.user.accountId===value.authorId){%>
                                <div class="property-btn option-<%=value._id%>" data-id="<%=value._id%>">
                                    <img src="/images/option.png">
                                    <div class="option-btn">
                                        <div class="delete-property-btn" data-id="<%=value._id%>">Xoá tin</div>
                                        <div class="edit-property-btn" data-id="<%=value._id%>">Thay đổi tin</div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                        
                        <div class="tag for-<%=value.isSale ? "sale":"rent"%>">
                            <%= value.isSale?"For Sale":"For Rent" %>
                        </div>
                        <div class="properties-item-content">
                            <div class="properties-info">
                                <% if (value.features.rooms) {%>
                                    <span><%=value.features.rooms%> Phòng</span>
                                <%}%>
                                <% if (value.features.bathrooms) {%>
                                    <span><%=value.features.bathrooms%> Phòng vệ sinh</span>
                                <%}%>
                                <% if (value.features.bedrooms) {%>
                                    <span><%=value.features.bedrooms%> Phòng ngủ</span>
                                <%}%>
                                <% if (value.features.floors) {%>
                                    <span><%=value.features.floors%> Tầng</span>
                                <%}%>
                            </div>
                            <div class="properties-about">
                                <h3>
                                    <a href="/property/<%=value._id%>" title="<%= value.title %>">
                                        <%= value.title %>
                                    </a>
                                </h3>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= value.location.district %>, <%= value.location.city %></p>
                            </div>
                            <div class="properties-detial">
                                <span class="price">
                                    <strong><%= value.price===0?"Giá thoả thuận":value.price<1000?(value.price.toString()+" triệu"):(Number(locals.getFlooredFixed(value.price / 1000, 2)).toString() + " tỷ")%><%= value.isSale?"":" / tháng"%></strong><span class="dot">·</span><strong><%= value.area%> m²</strong>
                                </span>
                                <a href="/property/<%=value._id%>" class="btn" <%= value.isSale?`style=background-color:darkviolet;color:white`:`style=background-color:darkgoldenrod;color:white` %>> Xem chi tiết <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                  </div>
              <%})%>
            </div>
                <!-- Add Arrows -->
              <div class="swiper-button-next"><img src="https://staticfile.batdongsan.com.vn/images/icons/slide-next.png"></div>
              <div class="swiper-button-prev"><img src="https://staticfile.batdongsan.com.vn/images/icons/slide-prev.png"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Properties  -->

  <%- include('partial/foot') -%>
  <%- include('partial/footer') -%>
  </body>
</html>