<!DOCTYPE html>
<html lang="en">
<%- include('partial/head', {title: "Home"}) -%>
    <body class="price-range"  onload="setNoUiSliderOption(<%= range.minPrice %>,<%= range.maxPrice %>,<%= range.minArea %>,<%= range.maxArea %>); setSlider([<%= range.minArea %>,<%= range.maxArea %>], [<%= range.minPrice %>,<%= range.maxPrice %>]); loadCity(); ">
        <!-- Pre Loader -->
        <div id="preloader-area">
            <div class="pulse"></div>
        </div>
        <!-- SCROLL TOP BUTTON -->
        <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
        <!-- END SCROLL TOP BUTTON -->
        <%- include('partial/header', {active:"home"}) -%>

            <!-- Start slider  -->
            <section id="slider">
                <div class="slider-area">
                    <!-- Top slider -->
                    <div class="top-slider">
                        <!-- Top slider single slide -->
                        <div class="top-slider-single">
                            <img src="/images/slider/3.jpg" alt="img">
                            <!-- Top slider content -->
                            <div class="top-slider-content">
                                <span class="top-slider-catg">Duplex</span>
                                <h2 class="top-slider-title">1560 Square Feet</h2>
                                <p class="top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
                                <span class="top-slider-off">30% OFF</span>
                                <p class="top-slider-price">$460,000</p>
                                <a href="#" class="top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                            <!-- / Top slider content -->
                        </div>
                        <!-- / Top slider single slide -->
                        <!-- Top slider single slide -->
                        <div class="top-slider-single">
                            <img src="/images/slider/2.jpg" alt="img">
                            <!-- Top slider content -->
                            <div class="top-slider-content">
                                <span class="top-slider-catg">Duplex</span>
                                <h2 class="top-slider-title">1560 Square Feet</h2>
                                <p class="top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
                                <span class="top-slider-off">30% OFF</span>
                                <p class="top-slider-price">$460,000</p>
                                <a href="#" class="top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                            <!-- / Top slider content -->
                        </div>
                        <!-- / Top slider single slide -->
                        <!-- Top slider single slide -->
                        <div class="top-slider-single">
                            <img src="/images/slider/1.jpg" alt="img">
                            <!-- Top slider content -->
                            <div class="top-slider-content">
                                <span class="top-slider-catg">Duplex</span>
                                <h2 class="top-slider-title">1560 Square Feet</h2>
                                <p class="top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
                                <span class="top-slider-off">30% OFF</span>
                                <p class="top-slider-price">$460,000</p>
                                <a href="#" class="top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                            <!-- / Top slider content -->
                        </div>
                        <!-- / Top slider single slide -->
                        <!-- Top slider single slide -->
                        <div class="top-slider-single">
                            <img src="/images/slider/5.jpg" alt="img">
                            <!-- Top slider content -->
                            <div class="top-slider-content">
                                <span class="top-slider-catg">Duplex</span>
                                <h2 class="top-slider-title">1560 Square Feet</h2>
                                <p class="top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
                                <span class="top-slider-off">30% OFF</span>
                                <p class="top-slider-price">$460,000</p>
                                <a href="#" class="top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                            <!-- / Top slider content -->
                        </div>
                        <!-- / Top slider single slide -->
                        <!-- Top slider single slide -->
                        <div class="top-slider-single">
                            <img src="/images/slider/4.jpg" alt="img">
                            <!-- Top slider content -->
                            <div class="top-slider-content">
                                <span class="top-slider-catg">Duplex</span>
                                <h2 class="top-slider-title">1560 Square Feet</h2>
                                <p class="top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
                                <span class="top-slider-off">30% OFF</span>
                                <p class="top-slider-price">$460,000</p>
                                <a href="#" class="top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                            <!-- / Top slider content -->
                        </div>
                        <!-- / Top slider single slide -->
                        <!-- Top slider single slide -->
                        <div class="top-slider-single">
                            <img src="/images/slider/6.jpg" alt="img">
                            <!-- Top slider content -->
                            <div class="top-slider-content">
                                <span class="top-slider-catg">Duplex</span>
                                <h2 class="top-slider-title">1560 Square Feet</h2>
                                <p class="top-slider-location"><i class="fa fa-map-marker"></i>South Beach, Miami (USA)</p>
                                <span class="top-slider-off">30% OFF</span>
                                <p class="top-slider-price">$460,000</p>
                                <a href="#" class="top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
                            </div>
                            <!-- / Top slider content -->
                        </div>
                        <!-- / Top slider single slide -->
                    </div>
                </div>
            </section>
            <!-- End slider  -->

            <!-- Advance Search -->
            <section id="advance-search">
                <div class="container">
                    <div class="advance-search-area">
                        <div class="form">
                            <form action="/property/search" method="GET">
                                <div class="advance-search-top">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-advance-search">
                                                <label for="keyword">Thông tin bất động sản</label>
                                                <input type="text" name="keyword" id="keyword" placeholder="Nhập keyword">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="single-advance-search">
                                                <label for="isSale">Hình thức</label>
                                                <select id="isSale" name="isSale">
                                                    <option value="any" selected>Tất cả</option>
                                                    <option value="rent">Cho thuê</option>
                                                    <option value="sale">Bán</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="single-advance-search">
                                                <label for="type">Loại hình</label>
                                                <select name="type" id="type">
                                                    <option value="any" selected>Tất cả</option>
                                                    <option value="appartment">Căn hộ chung cư</option>
                                                    <option value="street-house">Nhà mặt phố</option>
                                                    <option value="personal-house">Nhà riêng</option>
                                                    <option value="villa">Nhà biệt thự</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="single-advance-search">
                                                <label for="city">Tỉnh/Thành</label>
                                                <select name="city" id="city" class="city-picker">
                                                    <option value="any" selected>Tất cả</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="single-advance-search">
                                                <label for="district">Quận/Huyện</label>
                                                <select name="district" id="district" class="district-picker">
                                                    <option value="any" selected>Tất cả</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="single-advance-search">
                                                <div class="more-choice">
                                                    <span>Thêm <i class='fas fa-angle-down'></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="advance-search-bottom">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="single-filter-search">
                                                <span>Diện tích </span>
                                                <span>Từ</span>
                                                <span id="skip-value-lower" class="example-val"></span>
                                                <span>Đến</span>
                                                <span id="skip-value-upper" class="example-val"></span>
                                                <span class="set-area"><i class='fas fa-angle-down'></i></span>
                                                <div class="input-set-area">
                                                    <input type="number" id="area-from" name="areaFrom"> - 
                                                    <input type="number" id="area-to" name="areaTo">
                                                </div>
                                                <div id="sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="single-filter-search">
                                                <span>Giá </span>
                                                <span>Từ</span>
                                                <span id="skip-value-lower2" class="example-val"></span>
                                                <span>Đến</span>
                                                <span id="skip-value-upper2" class="example-val"></span>
                                                <span class="set-price"><i class='fas fa-angle-down'></i></span>
                                                <div class="input-set-price">
                                                    <input type="number" id="price-from" name="priceFrom"> - 
                                                    <input type="number" id="price-to" name="priceTo">
                                                </div>
                                                <div id="price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="single-advance-search">
                                                <input type="hidden" name="submit" value="form">
                                                <input class="search-btn" type="submit" value="Tìm kiếm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="advance-search-middle">
                                    <div class="show-more">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="single-advance-search">
                                                    <label for="rooms">Số phòng</label>
                                                    <select name="rooms" id="rooms">
                                                        <option value="any" selected>Tất cả</option>
                                                        <option value="1" >01</option>
                                                        <option value="2" >02</option>
                                                        <option value="3" >03</option>
                                                        <option value="4" >04</option>
                                                        <option value="more" >05+</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="single-advance-search">
                                                    <label for="floors">Số lầu</label>
                                                    <select name="floors" id="floors">
                                                        <option value="any" selected>Tất cả</option>
                                                        <option value="1" >01</option>
                                                        <option value="2" >02</option>
                                                        <option value="3" >03</option>
                                                        <option value="4" >04</option>
                                                        <option value="more" >05+</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="single-advance-search">
                                                    <label for="bathrooms">Số nhà vệ sinh</label>
                                                    <select name="bathrooms" id="bathrooms">
                                                        <option value="any" selected>Tất cả</option>
                                                        <option value="1" >01</option>
                                                        <option value="2" >02</option>
                                                        <option value="3" >03</option>
                                                        <option value="4" >04</option>
                                                        <option value="more" >05+</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="single-advance-search">
                                                    <label for="bedrooms">Số phòng ngủ</label>
                                                    <select name="bedrooms" id="bedrooms">
                                                        <option value="any" selected>Tất cả</option>
                                                        <option value="1" >01</option>
                                                        <option value="2" >02</option>
                                                        <option value="3" >03</option>
                                                        <option value="4" >04</option>
                                                        <option value="more" >05+</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / Advance Search -->

            

            <!-- Latest property -->
            <section id="latest-property">
                <div class="container">
                    <div class="latest-property-area">
                        <div class="title">
                            <h2>Bất động sản gần đây</h2>
                            <span></span>
                        </div>
                        <div class="latest-properties-content">
                            <div class="row">
                                <% data.forEach(value =>{%>
                                    <div class="col-md-4">
                                        <article class="properties-item item-<%=value._id%>">
                                            <a href="/property/<%=value._id%>" class="properties-item-img">
                                                <img src="<%=value.thumbnail||"/images/no-image.png"%>" alt="img">
                                            </a>
                                            <% if (locals.user){%>
                                                <% if(locals.user.accountId===value.authorId){%>
                                                    <div class="property-btn">
                                                            <span class="delete-property-btn" data-id="<%=value._id%>">Xoá tin</span>
                                                            <span class="edit-property-btn" data-id="<%=value._id%>">Thay đổi tin</span>
                                                    </div>
                                                <%}%>
                                            <%}%>
                                            
                                            <div class="tag for-<%=value.isSale ? "sale":"rent"%>">
                                                <%= value.isSale?"For Sale":"For Rent" %>
                                            </div>
                                            <div class="properties-item-content">
                                                <div class="properties-info">
                                                    <% if (value.features.rooms) {%>
                                                        <span><%=value.features.rooms%> Phòng</span>
                                                    <%}%>
                                                    <% if (value.features.bathrooms) {%>
                                                        <span><%=value.features.bathrooms%> Phòng vệ sinh</span>
                                                    <%}%>
                                                    <% if (value.features.bedrooms) {%>
                                                        <span><%=value.features.bedrooms%> Phòng ngủ</span>
                                                    <%}%>
                                                    <% if (value.features.floors) {%>
                                                        <span><%=value.features.floors%> Tầng</span>
                                                    <%}%>
                                                </div>
                                                <div class="properties-about">
                                                    <h3>
                                                        <a href="/property/<%=value._id%>" title="<%= value.title %>">
                                                            <%= value.title %>
                                                        </a>
                                                    </h3>
                                                    <p><%= value.location.district %>, <%= value.location.city %></p>
                                                </div>
                                                <div class="properties-detial">
                                                    <span class="price">
                                                            <strong><%= value.price===0?"Giá thoả thuận":value.price<1000?(value.price.toString()+" triệu"):(Number(locals.getFlooredFixed(value.price / 1000, 2)).toString() + " tỷ")%><%= value.isSale?"":" / tháng"%></strong><span class="dot">·</span><strong><%= value.area%> m²</strong>
                                                    </span>
                                                    <a href="/property/<%=value._id%>" class="btn" <%= value.isSale?`style=background-color:#59ABE3;color:white`:`style=background-color:#20ceb3;color:white` %>> Xem chi tiết <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                <% })%>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- / Latest property -->

            <%- include('partial/foot') -%>
                <%- include('partial/footer') -%>
                <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    </body>

</html>