<!DOCTYPE html>
<html lang="en">
    <%- include('partial/head', {title: "Properties"}) -%>
  <body class="price-range">  
  <!-- Pre Loader -->
  <div id="preloader-area" >
    <div class="pulse"></div>
  </div>
  <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-double-up"></i></a>
  <!-- END SCROLL TOP BUTTON -->
  <%- include('partial/header', {active: "properties"}) -%>
  <!-- Start Proerty header  -->

  <section id="property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="property-header-inner">
            <h2>Trang bất động sản</h2>
            <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>            
            <li class="active">Bất động sản</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->

  <!-- Start Properties  -->
  <section id="properties">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="properties-content">
            <!-- start properties content head -->
            <div class="properties-content-head">              
              <div class="properties-content-head-left">
                <form action="" class="sort-form">
                  <label for="">Sort by</label>
                  <select name="">
                    <option value="1" selected="Default">Default</option>
                    <option value="2">Name</option>
                    <option value="3">Price</option>
                    <option value="4">Date</option>
                  </select>
                </form>
                <form action="" class="show-form">
                  <label for="">Show</label>
                  <select name="">
                    <option value="1" selected="12">6</option>
                    <option value="2">12</option>
                    <option value="3">24</option>
                  </select>
                </form>
              </div>
              <div class="properties-content-head-right">
                <a id="grid-properties" href="#"><span class="fa fa-th"></span></a>
                <a id="list-properties" href="#"><span class="fa fa-list"></span></a>
              </div>            
            </div>
            <!-- Start properties content body -->
            <div class="properties-content-body">
              <ul class="properties-nav">
                <% data.forEach(value=>{%>
                  <li>
                    <article class="properties-item item-<%=value._id%>">
                      <a href="/property/<%=value._id%>" class="properties-item-img">
                        <img src="<%=value.thumbnail||"/images/no-image.png"%>" alt="img">
                      </a>
                      <% if (locals.user){%>
                        <% if(locals.user.accountId===value.authorId){%>
                            <div class="property-btn">
                              <span class="delete-property-btn" data-id="<%=value._id%>">Xoá tin</span>
                              <span class="edit-property-btn" data-id="<%=value._id%>">Thay đổi tin</span>
                            </div>
                        <%}%>
                      <%}%>
                      <div class="tag for-<%=value.isSale ? "sale":"rent"%>">
                          <%= value.isSale?"For Sale":"For Rent" %>
                      </div>
                      <div class="properties-item-content">
                        <div class="properties-info">
                          <% if (value.features.rooms) {%>
                              <span><%=value.features.rooms%> Phòng</span>
                          <%}%>
                          <% if (value.features.bathrooms) {%>
                              <span><%=value.features.bathrooms%> Phòng vệ sinh</span>
                          <%}%>
                          <% if (value.features.bedrooms) {%>
                              <span><%=value.features.bedrooms%> Phòng ngủ</span>
                          <%}%>
                          <% if (value.features.floors) {%>
                              <span><%=value.features.floors%> Tầng</span>
                          <%}%>
                        </div>
                        <div class="properties-about">
                            <h3>
                                <a href="/property/<%=value._id%>">
                                    <%= value.title %>
                                </a>
                            </h3>
                            <p><%= value.location.district %>, <%= value.location.city %></p>
                        </div>
                        <div class="properties-detial">
                            <span class="price">
                              <strong><%= value.price===0?"Giá thoả thuận":value.price<1000?(value.price.toString()+" triệu"):(Number(locals.getFlooredFixed(value.price / 1000, 2)).toString() + " tỷ")%><%= value.isSale?"":" / tháng"%></strong><span class="dot">·</span><strong><%= value.area%> m²</strong>
                            </span>
                            <a href="/property/<%=value._id%>" class="btn" <%= value.isSale?`style=background-color:#59ABE3;color:white`:`style=background-color:#20ceb3;color:white` %>> Xem chi tiết <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </article>
                  </li>
                <%})%>
              </ul>
            </div>
            <!-- Start properties content bottom -->
            <div class="properties-content-bottom">
              <nav>
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li class="active"><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Start properties sidebar -->
        <div class="col-md-4">
          <aside class="properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="properties-single-sidebar">
              <h3>Properties Search</h3>
              <form action="">
                <div class="single-advance-search">
                  <input type="text" placeholder="Type Your Location">
                </div>
                <div class="single-advance-search">
                  <select id="" name="">
                   <option selected="" value="0">Category</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="single-advance-search">
                  <select id="" name="">
                    <option selected="" value="0">Type</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="single-advance-search">
                  <select id="" name="">
                    <option selected="" value="0">Type</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="single-filter-search">
                  <span>AREA (SQ)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper" class="example-val">100.00</span>
                  <div id="sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>                  
                </div>
                <div class="single-filter-search">
                  <span>PRICE ($)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower2" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper2" class="example-val">100.00</span>
                  <div id="price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>      
                </div>
                <div class="single-advance-search">
                  <input type="submit" value="Search" class="search-btn">
                </div>
              </form>
            </div> 
            <!-- Start Single properties sidebar -->
            <div class="properties-single-sidebar">
              <h3>Populer Properties</h3>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="/images/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="/images/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="/images/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- / Properties  -->

  <%- include('partial/foot') -%>
  <%- include('partial/footer') -%>
  </body>
</html>