
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
        <h2>Bất động sản chờ kiểm duyệt</h2>
        <hr>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Người đăng</th>
                <th>Kiểm duyệt</th>
                <th>Thời gian</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% properties.forEach(p => {%>
            <tr>
              <td>
                  <a href="/<%=p.status?"property":"censor"%>/<%=p._id%>"><%=p.title%></a>
              </td>
              <td>
                  <a href="/profile/property/<%=p.author.accountId%>"><%=p.author.name%></a>
              </td>
              <td>
                  <%=p.status&&p.authen?"Đã kiểm duyệt":p.authen?"Từ chối":"Chưa kiểm duyệt"%>
              </td>
              <td>
                  <%=locals.shorterFormatForDateTime(p.date)%>
              </td>
              <td>
                <a></a>
              </td>
            </tr>
            <%})%>
        </tbody>
        <tfoot>
            <tr>
                <th>Title</th>
                <th>Người đăng</th>
                <th>Kiểm duyệt</th>
                <th></th>
            </tr>
        </tfoot>
        </table>
        <hr>
        <div class="property-management-detail">
          
        </div>
    </div>
</main>
<!-- page-content" -->