
<aside class="properties-sidebar">
    <div class="properties-single-sidebar">
        <div class="profile-name">
            <%= profile.name %> <%- locals.user?profile.accountId === locals.user.accountId?`<span data-id='${profile.accountId}'>Cập nhật</span>`:'':'' -%>
        </div>
        <hr style="height:1px; border: none; background-color: black;
        margin-top: 10px; ">
        <div class="profile-email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> <%= profile.email %>
        </div>
        <% if(profile.phone){ %>
            <div class="phone-contact-container">
                <div class="inform">Đã sao chép</div>
                <p class="phone-contact" style="background-color: rgb(0, 105, 211)">
                <i class="fa fa-phone" aria-hidden="true" style="margin-right: 10px;"></i><span>Bấm để hiện số</span>
                </p> 
                <p class="copy" style="background-color:rgb(0, 105, 211)"><i class="fa fa-clipboard" aria-hidden="true"></i></p>
                <div type="hidden" id="phone-copy" data-phone="<%=profile.phone%>"></div>
            </div>
        <%}%>
        <hr style="height:1px; border: none; background-color: black;
        margin-top: 10px; ">
        <a href="/profile/property/<%=profile.accountId%>" class="user-property-info">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> Tin đăng (<%=numOfDoc%>) 
        </a>
    </br>
        <% if (locals.user){%>
            <% if (locals.user.accountId === profile.accountId){%>
                <% if (numOfContact){%>
                    <a href="/profile/contact" class="user-contact-info">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i> Liên hệ (<%=numOfContact%>) <%- numOfNoti?`<div class="noti-contact">${numOfNoti}</div>`:''-%>
                    </a>  
                <%}%>  
            <%}%>
        <%}%>
    </div>
</aside>